*.pbi
*.xcl
*.dep
*.ps1
!tools/speed_tune_com11.ps1
tools/speed_tune_logs/
*.cspy.bat
*.out
*.map
*.o
*.wsdt
*.pbd
*.linf
*.pbw
*.browse
*.crun
*.dbgdt
*.uvguix.*
*.lst
*.crf
*.d
*.axf
*.htm
*.lnp
*.__i
*._ia
*.sim
*JLinkLog.txt
*.tmp
*.html
*.bat
*.png
